/* font face declarations */

/* type styles */

html {
  color: var(--text1-light);
  background: var(--bg-light);
}

a,
a:visited,
a:focus {
  color: var(--text-link-light);
}

a:hover {
  border-bottom: 2px solid var(--text-link-light);
  cursor: pointer;
}

html.dark-mode {
  color: var(--text1-dark);
  background: var(--bg-dark);
}

html.dark-mode a,
html.dark-mode a:visited,
html.dark-mode a:focus {
  color: var(--text-link-dark);
}

html.dark-mode a:hover {
  border-bottom: 2px solid var(--text-link-dark);
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* media queries */
