:root {
  /* light mode */
  --bg: #ffffff;
  --text1: #4d4d4d;
  --text2: #bbbbbb;
  --text-link: #0059ff;
  /* columns */
  --columns: 3;
  /* spacing unit */
  --multiplier: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode */
    --bg: #464646;
    --text1: lightgrey;
    --text2: #eeeeee;
    --text-link: #89b3ff;
  }
}

@media (min-width: 576px) {
  :root {
    --multiplier: 2;
  }
}

@media (min-width: 1200px) {
  :root {
    --multiplier: 3;
  }
}
